$primary: #6976ce !default;
$secondary: rgb(80, 84, 91) !default;
$dark: #303841 !default;
$success: rgb(158, 232, 158);

$input-bg: #304148;
$input-border-color: #343638;
$text-light: #c3c3c3;
@import "~bootstrap/scss/bootstrap.scss";

$input-height: 2.429em;
@import "~react-widgets/scss/components";

.btn-primary {
  color: $light;

  &:hover,
  &:active,
  &:focus {
    color: $light;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.form-select-xs {
  padding-top: 0.1rem;
  padding-bottom: 0.2rem;
  padding-left: 0.2rem;
  padding-right: 0.1rem;
  font-size: 0.8rem;
}

.fixed-sidebar {
  flex-grow: 0;
  flex-shrink: 0;
}

.productdiv-treeitem.active {
  background-color: $secondary;
}

/* Element */
.productdiv-treeitem-1 {
  color: #ce6b6b;
}
/* Text */
.productdiv-treeitem-3 {
  color: grey;
}
.productdiv-treeitem-component {
  color: #67a7ff;
}
// React Widgets Overrides
$react-widget-input-bg: #282c34;

.rw-select,
.rw-multiselect,
.rw-dropdown-list {
  .rw-widget-input {
    background-color: $react-widget-input-bg;
    border-color: $input-border-color;
  }

  .rw-multiselect-input {
    color: $text-light;
  }

  .rw-picker-caret.rw-btn {
    color: $text-light;
    width: 14px;
    height: 100%;
  }

  .rw-widget-picker.rw-widget-container {
    grid-template: 1fr/1fr 18px;
  }

  .rw-dropdown-list-value {
    color: $text-light;
    font-size: 12px;
    white-space: normal;
  }

  .rw-multiselect-tag {
    font-size: 12px;
    background-color: darken($secondary, 5%);
    color: $text-light;
    border: 1px solid darken($secondary, 5%);
  }

  .rw-list-option {
    color: $text-light;
    padding-left: 4px;
    font-size: 12px;
    min-height: 23px;
    // word-break: break-all;

    &:hover {
      background-color: darken($secondary, 5%);
      border: none;
    }
  }

  .rw-list {
    border: 1px solid $input-border-color;
    background-color: $secondary;
  }

  .rw-list-option:not(:last-child) {
    border-bottom: 1px solid $input-border-color;
  }
}

.element-editor-select-control {
  flex-basis: 33%;
  padding-left: 3px;
  padding-right: 3px;
}

.template-selection-button {
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.productdiv {
  text-align: left !important;
}

/* EDITOR */
.productdiv-fixed-left {
  left: 0;
  width: var(--productdiv-fixed-left-width);
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  overflow: visible;
  z-index: 1;
  font-size: 13px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: var(--productdiv-background);
  color: var(--productdiv-text-color);
  // overflow-y: scroll;
  max-height: 100%;
  border-right: 1px solid var(--productdiv-background);
}

.productdiv-fixed-right {
  right: 0;
  width: var(--productdiv-fixed-left-width);
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  overflow: visible;
  z-index: 1;
  font-size: 13px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: var(--productdiv-background);
  color: var(--productdiv-text-color);
  // overflow-y: scroll;
  max-height: 100%;
  border-right: 1px solid var(--productdiv-background);
}

.productdiv-body {
  left: var(--productdiv-fixed-left-width);
  right: var(--productdiv-fixed-left-width);
  top: 0;
  position: absolute;
  height: 100%;
  border: 0;
}

.productdiv .productdiv-sidebar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px var(--productdiv-gutter-size);
}

.productdiv .productdiv-scrollable-section {
  height: 100%;
  background-color: var(--productdiv-section-background);
  margin: 0 calc(var(--productdiv-gutter-size) * -1);
  padding: 16px var(--productdiv-gutter-size);
  overflow: hidden;
  overflow-y: scroll;
  flex-grow: 1;
}

.productdiv .productdiv-overlay,
.productdiv.productdiv-overlay {
  padding: var(--productdiv-gutter-size);
  font-family: sans-serif;
  background-color: var(--productdiv-background);
  color: var(--productdiv-text-color);
}

.productdiv .productdiv-overlay-floating,
.productdiv.productdiv-overlay-floating {
  border-radius: 8px;
  z-index: 1000000;
  position: fixed;
  top: 20px;
  bottom: 20px;
  left: calc(var(--productdiv-fixed-left-width) + 20px);
  right: calc(var(--productdiv-fixed-left-width) + 20px);
}

.productdiv .productdiv-title {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-bottom: 2px;
  border-bottom: 3px solid var(--productdiv-text-color);
  display: inline-block;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}

.productdiv .productdiv-flex-row {
  display: flex;
  flex-direction: row;
}

.productdiv .productdiv-flex-row.productdiv-justify-content-between {
  justify-content: space-between;
}

/* BUTTON MENU */
.productdiv .productdiv-button-menu {
  display: flex;
  flex-direction: row;
}
.productdiv .productdiv-button-menu button {
  flex: 1;
  border-radius: 0;
  background-color: var(--productdiv-background);
  border: none;
  color: white;
  cursor: pointer;
  height: 24px;
  font-size: 16px;
}

.productdiv .productdiv-button-menu button:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

.productdiv .productdiv-button-menu button.active {
  color: black;
  font-weight: bold;
  background-color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* DROPDOWN */
.productdiv .productdiv-dropdown {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
}

.productdiv .productdiv-dropdown-section {
  cursor: pointer;
  margin-left: -var(--productdiv-gutter-size);
  margin-right: -var(--productdiv-gutter-size);
  background-color: white;
  color: black;
  padding: 5px var(--productdiv-gutter-size);
  font-weight: bold;
}

.productdiv .productdiv-dropdown-section-body {
  height: 100%;
  flex: 1;
  overflow: hidden;
  overflow-y: scroll;
}

/* LISTS */

.productdiv .productdiv-pill-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.productdiv .productdiv-pill-list-item {
  font-size: 14px;
  font-weight: bold;
  list-style: none;
  list-style-type: none;
  background-color: var(--productdiv-accent-color);
  color: var(--productdiv-text-color);
  display: block;
  padding: 3px 5px;
  border-radius: 12px;
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 8px;
  user-select: none;
}

.productdiv .productdiv-list-style-none {
  list-style: none;
}

.productdiv .productdiv-list-highlight-item {
  cursor: pointer;
}

.productdiv .productdiv-list-highlight-item:hover {
  background-color: white;
  color: black;
}

/* INPUTS */

.productdiv input.productdiv-input {
  color: white;
  display: block;
  padding: 4px 8px;
  background-clip: padding-box;
  margin: 0px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: var(--productdiv-background);
  border: 1px solid white;
  border-radius: 4px;
}
.productdiv input.productdiv-input::placeholder {
  color: white;
}
.productdiv textarea.productdiv-textarea {
  color: white;
  display: block;
  padding: 4px 8px;
  background-clip: padding-box;
  margin: 0px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: var(--productdiv-background);
  border: 1px solid white;
  border-radius: 4px;
}
.productdiv textarea.productdiv-textarea::placeholder {
  color: white;
}

/* FORMS */

.productdiv .productdiv-form-group {
  margin-bottom: 12px;
}
.productdiv .productdiv-form-control {
  width: 100%;
}

/* LAYOUT */

.productdiv .productdiv-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.productdiv .productdiv-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.productdiv-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* BUTONS */

.productdiv .productdiv-button-small {
  border-radius: 4px;
  background-color: rgb(48, 56, 65);
  border: 1px solid white;
  color: white;
  height: 26px;
  align-self: center;
}

/* CLASS EDITOR */
.productdiv .productdiv-class-editor-tag {
  border-radius: 10px;
  padding: 0px 10px;
  background-color: var(--productdiv-accent-color);
  color: white;
  display: inline-block;
  max-width: 100%;
}

.productdiv .productdiv-treelist {
  list-style: none;
  padding-left: 16px;
  cursor: pointer;
}

.productdiv .productdiv-treeitem {
  white-space: nowrap;
}

.form-control {
  color: $white;

  &:focus {
    color: $white;
  }
}

#productdiv-leftnav-toggle {
  position: absolute;
  bottom: 15;
  left: 15;
  z-index: 999;
  font-weight: bold;
}

.btn-icon {
  border-radius: 6px;
  width: 32px;
  height: 32px;
  padding: 0px 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.template-category-row {
  display: flex;
  justify-content: space-between;
  padding: 6px 0px;
  border-bottom: 1px solid darken($secondary, 5%);
  align-items: center;
}

.template-definition-row {
  display: flex;
  background-color: darken($secondary, 5%);
  // background-color: darken($dark, 2.5%);
  justify-content: space-between;
  margin-left: -24px;
  margin-right: -24px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid darken($secondary, 10%);
  padding-bottom: 6px;
  padding-top: 6px;
}

.utility-class-body {
  display: flex;
  background-color: darken($dark, 2.5%);
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-left: -24px;
  margin-right: -24px;
  padding-left: 24px;
  padding-right: 24px;
  // border-bottom: 1px solid darken($secondary, 10%);
  padding-bottom: 6px;
  padding-top: 6px;
}

.utility-class-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
}

.tree-view-toggle-indicator {
  width: 16px;
  height: 16px;
  display: inline-flex;
  border-radius: 100px;
}
